.container {
  transform: rotateY(180deg);
}
.apexcharts-legend.apexcharts-align-center.apx-legend-position-left {
  transform: rotateY(180deg) scale(0.6);
  margin-left: 140px;
  margin-top: -74px;
}
