html {
  /* ****Colors**** */
  --primaryColor: #5b5fc7;
  --gray: #f0f0f0;
  --gray2: #d1d1d1;
  --gray3: #e0e0e0;
  --white: #ffffff;
  --black: #000000;
  --text-color-primary: #616161;
  --text-color-secondary: #424242;
  --text-color-bold: #242424;
  /* ****Font family**** */
  --fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

input,
select,
button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  &:focus {
    background-color: transparent;
  }
}

body {
  background-color: var(--white);
  color: var(--text-color);
  font-family: var(--fontFamily);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  overflow-x: hidden;
}

.ltr {
  direction: ltr;
  text-align: left;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
